
@media only screen and (max-width: 980px){
	.container, .container-md, .container-sm{
		max-width: 900px!important;
	}
	.z-main{
		background-size:100%;
	}
	.z-pointer{
		display: none;
	}
	.z-scroll{
		width: 10px;
	}
	.z-scroll2{
		width: 10px;
	}
	.z-featured{
		zoom: 1;
		position:absolute;
	}

	.z-main{
		.z-header{
			.z-logo{
				img{
					height: 60px;
					margin-top:40px;
				}
			}

			.z-name{
				top: 40px;
				left: 5vw;
				font-size: 30pt;

				&:before{
					transform: translateY(20px);
					// display: none;
				}
			}

			.z-years{
				right: 5vw;
				font-size: 30pt;
				top: 40px;
				&:before{
					transform: translateY(20px);
					// display: none;
				}
				&:after{
					display: none;
				}
			}

			.z-main-text{
				padding-left: 5vw;
				padding-right: 5vw;
				font-size: 170pt;
			}
		}
	}

	.z-about{
		margin-top: 100px;
		.z-image{
			height: 600px;
			&.long{
				width: 85vw;
				margin-left: 5vw;
				margin-right: 5vw;
			}
			&.active{
				&:before{
					width: 85vw;
					height: 600px;
				}
			}
			&.actived{
				&:before{
					width:0px;
				}
			}
		}
		&>div:nth-child(2){
			margin-top: 190px;
			margin-left:5vw;
			
			&>div:nth-child(1){
				span{
					font-size: 60pt;
					line-height: 60pt;
				}
			}
		}

		&>div:nth-child(2){
			p{
				margin-top: 80px;

				padding: unset !important;
				font-size: 40px !important;
				line-height: 40px !important;
				width: 80vw;

				&.z-space{
					margin-top: 40px!important;
				}
			}
		}
	}

	.second{
		h1{
			margin-left: 5vw;
			font-size: 60pt;
			padding-bottom: 50pt;
		}
		h5{
			margin-left: 5vw;
			padding-top:120pt;
			font-size: 40pt;
		}
	}

	.z-mobile{
		display: unset !important;
	}

	.z-projects{
		.row{
			.z-pro-1{
				padding-left: 5vw;
				padding-right: 5vw;
				height: 400px;
				div{
					width: 90vw;
					div{
						top: 40px;
						span{
							opacity: 1;
							font-size: 30px;
							&.semi{
								opacity: 0.4;
							}
							&:nth-child(4){
								opacity: 0.9;
								padding-top:0px; 
							}
							&.title{
								opacity: 1;
								font-size: 45pt;
								line-height: 30pt;
							}
						}

						svg{
							opacity: 1;
							font-size: 60pt;
							transform: rotate(-45deg);

							&:hover{
								transform: inherit;
							}
						}
					}
				}
			}
			.z-pro-2{
				filter: unset;

				&.mobile{
					display: unset;
					height: 600px;
					background-repeat: no-repeat;
					background-size:cover;
					background-position:center center;
				}
				&.desktop{
					display: none;
				}
			}

			&:hover{
				.z-pro-1{
					div{
						div{
							span{
								opacity: inherit;

								&.semi{
									opacity:inherit;
								}
							}
							svg{
								opacity: inherit;
							}
						}
					}
				}
				.z-pro-2{
					background-size: 100%;
					filter: unset;
				}
			}
		}
	}
	.table{

		.no-gutter{
			font-size: 25pt!important;
			&:nth-child(1){
				padding-left: 5vw;
			}
		}
		.t-1, .t-3{
			width: unset;
		}

		tr{
			&.t-mobile{
				display: table-row!important;
				
				td{
					padding: 25px 5vw;
					border-color: rgba(27, 27, 47, 0.5);
					font-size: 25pt;
					span{
						&.c-2{
							font-family:$mn;
							font-size: 40pt;
							line-height:40pt;
							display: block;
							margin-top: 10px;
							margin-bottom: -25px;
						}
						&.red{
							color:$z-red;
						}
					}
				}
			}

			&.z-desktop{
				display: none;
			}
		}
	}

	.z-contacts{
		.z-link{
			margin-left: 5vw;
			text-align: left;

			div{
				display: none;
			}
			.z-a{
				font-family: $mn;
				color: $z-red;
				text-decoration: none;
				font-size: 60pt;
				line-height: 60pt;
				margin-left: 5vw;
				&:hover{
					color: $z-red;
				}

				&:before{
					content: "Let's do something interesting";
					font-family: $mon;
					color: $z-black;
					font-size: 40px;
					line-height: 30px;
					transform: translateY(-60px);
					font-weight: 600;
				}

				&.z-delay{
					transition-delay: unset; 
				}

				span{
					color: $z-black;
					&.z-active{
						color: $z-black;
					}
				}

			}

		}	
	}

	.m-gutter{
		&._a{
			div{
				height: 300px!important;
			}
		}
		&_b{
			div{
				height: 100px;
			}
		}
	}

	.footer{
		.z-button{
			font-size:40pt;
			padding:30pt 0;
			border-top:1px solid transparent;

			.z-blued{
				height: 160px;
				transform: translateY(-40px);
			}

			&.z-active{
				border-top:1px solid $z-black;
			}
		}
	}

	.copyright{
		.z-1{
			font-size: 20px;
			padding :20px 0;
			span.copy:nth-child(1){
				font-size: 30pt;
				padding-left:15px;

				&:after{
					display: none;
				}

				&:before{
					display: none;
				}
			}
			span.copy:nth-child(2){
				font-size: 30pt;
				&:after{
					display: none;
				}

				&:before{
					display: none;
				}
			}

		}
	}

	.z-links{
		text-align: left;
		ol{
			li{
				font-size: 40pt;
				padding-left:5vw;
				&.z-active{
					svg{
						display: none;
					}
				}

				span.z-mobile{
					color: $z-red;
				}
			}
		}
	}
}