// 1280pxx
@media (min-width: 1200px){
	.z-contacts .z-link .z-a{
		font-size: 65pt;
	}
	.z-main .z-header .z-logo img{
		height: 45px;
	}
	.z-main .z-header .z-main-text{
		font-size: 145pt;
	}
	.z-featured{
		zoom: 0.8;
	}
	.z-about>div:nth-child(2)>div:nth-child(2) p{
		padding-right: 100px;
	}
	.z-projects .row div:nth-child(1){
		height: 650px; 
	}
	.z-projects .row div:nth-child(1) div div{
		top: 20%;
	}
	.table .t-2{
		line-height: 45pt;
	}
	.z-pointer{
		&.z-projects{
			transform: translateY(-80%) translateX(0px) skew(-15deg, -5deg) scale(0.6);
		}
	}
	.z-about{
		.z-image{
			&.long{
				width: 90vw;
			}
			&.active{
				&:before{
					width: 90vw;
				}
			}
			&.actived{
				&:before{
					width:0px;
				}
			}
		}
	}
	
}